

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(37, 37, 37);
    color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  
  header .logo h3 {
    font-size: 30px;
  }
  
  nav ul li {
    list-style: none;
    display: inline;
    margin-right: 30px; 
  }
  
  nav ul li a {
    text-emphasis: none;
    color: white;
    transition: all 0.5s;
  }
  
  nav ul li a:hover {
    color: aquamarine;
  }